<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022247289156-3c1g398qovpn8o3ei9dv6not6m5lcn4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022247289156-3c1g398qovpn8o3ei9dv6not6m5lcn4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022247289156-clnm5bhbp7ck9a2hu2ods7fr0dj410sh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArwmZckMTDK3OQZ_vczrQX_28l1_1VzPE</string>
	<key>GCM_SENDER_ID</key>
	<string>1022247289156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterustad</string>
	<key>PROJECT_ID</key>
	<string>flutterustad</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterustad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022247289156:ios:6f7f5dbcf9004eee301711</string>
</dict>
</plist>