<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349544989753-uuuc5khlq4n0148a0j25601lv916sg7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349544989753-uuuc5khlq4n0148a0j25601lv916sg7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349544989753-6p4co50g43r17b3q82i12pnppfiaesol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCovfKy8EHDpU1zNV7qUSqGxxdoPIX1FH0</string>
	<key>GCM_SENDER_ID</key>
	<string>349544989753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ustaad</string>
	<key>PROJECT_ID</key>
	<string>ustaad-5011f</string>
	<key>STORAGE_BUCKET</key>
	<string>ustaad-5011f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349544989753:ios:65946f861337b0bec2b9e8</string>
</dict>
</plist>